freestyle-config {
  parse-error-destination: console;
  cache-styles: auto;
  image-cache-count: 100;
}
navigation-bar {
  background-color: #e7411d;
  width: 100%;
  text-overflow: none;
}

navigation-bar title {
  color: #FFFFFF;
  font-size: 20px;
  text-overflow: none;
}


/* Tab Bar */


tab-bar tab-bar-item {
  font-family: "Avenir";
  font-size: 14px;
  color: #FFFFFF;
}


tab-bar tab-bar-item:selected {
  color: #77aaff;
}

tab-bar tab-bar-item:pressed {
  color: #77aaff;
}

tab-bar {
  background-color: #000000;
}

